#navbar {
	list-style-type: none;
	background-color: #333;
	margin: 0;
	overflow: :hidden;
	padding: 0;
	border: 1px solid #555;




	overflow: auto;
}

li a {
	float: right;
	display: inline-block;
	padding: 14px 16px;
	width: 100px;
	background-color: #333;
	color: white;
	text-align: center;

}

li: last-child {
	border-bottom: none;
}



li a:hover:not(.active) {
	background-color : #555;
	color: white;

}

.active {
		background-color : #004d99;
		color: white;
}

#searchPicture{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -220px;
	margin-left:-150px; 
}

#summonerName{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left:-150px;
}

#region{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: 60px;
}

#searchButton{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: 140px;
	
	
}